#nav-links {
    display: flex;
    flex-direction: row;
    margin-top: 4.8rem;
}

#nav-links :first-child {
    margin-right: 2.4rem;
}

#nav-links a {
    width: 20rem;
    padding: 1.5em 1em;
}

a {
    background-color: hsl(176, 100%, 26%);
    box-shadow: 4px 4px 0px 0px hsl(176, 100%, 12%);
    text-align: center;
    position: relative;
    border-radius: 0.4rem;
}

a:link,
a:focus,
a:active,
a {
    color: white;
    text-decoration: none;
}

a:hover,
a:focus {
    background-color: hsl(176, 100%, 20%);
    box-shadow: 4px 4px 0px 0px hsl(176, 100%, 6%);
}

a:focus {
    outline: none;
}

@media screen and (max-width: 450px) {
    #nav-links {
        flex-direction: column;
    }
    #nav-links :first-child {
        margin-right: 0;
        margin-bottom: 2.4rem;
    }
}