.loader {
    border: 0.5rem solid hsl(176, 100%, 96%);
    /* Light grey */
    border-top: 0.5rem solid hsl(176, 100%, 26%);
    /* Blue */
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}