#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4.8rem;
}

button {
    background-color: hsl(176, 100%, 26%);
    box-shadow: 4px 4px 0px 0px hsl(176, 100%, 12%);
    padding: 0.7em;
    border-radius: 0.4rem;
}

button:hover {
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: hsl(176, 100%, 20%);
    box-shadow: 4px 4px 0px 0px hsl(176, 100%, 6%);
}

button:focus {
    outline: none;
}

input {
    padding: 1.25em 2em;
    border-radius: 0.4rem;
    border: none;
    margin-right: 0.8rem;
    height: calc(auto + 6px)
}

input:focus {
    outline-color: hsl(176, 100%, 12%);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: "Lato";
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Lato";
}

 :-ms-input-placeholder {
    /* IE 10+ */
    font-family: "Lato";
}

 :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Lato";
}