.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    padding: 1.25em 2em;
    border-radius: 0.4rem;
    border: none;
    margin-right: 0.8rem;
}

input:focus {
    outline-color: hsl(176, 100%, 12%);
}

.search-button {
    background-color: hsl(176, 100%, 24%);
    box-shadow: 4px 4px 0px 0px hsl(176, 100%, 12%);
    padding: 0.6em;
    border-radius: 0.4rem;
}

.search-button:hover,
.search-button:focus {
    background-color: hsl(176, 100%, 20%);
    box-shadow: 4px 4px 0px 0px hsl(176, 100%, 8%);
}

.search-button:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: "Lato";
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Lato";
}

 :-ms-input-placeholder {
    /* IE 10+ */
    font-family: "Lato";
}

 :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Lato";
}